In [9]:
import pandas as pd 
import numpy as np

In [10]:
df=pd.read_csv('extended_techglow_qualtrics_data.csv')
df

,ResponseID,StartDate,EndDate,Platform,Rating,Feedback,PurchaseIntention,Gender,Age,Country,Occupation,ProductVersion
0,1,5/19/2023 21:57,9/4/2023 5:02,Instagram,2,Seems a bit overpriced.,Maybe,Male,48,India,Teacher,Version 2.0
1,2,7/1/2023 20:51,9/14/2023 19:12,LinkedIn,5,No complaints.,No,Prefer not to say,67,UK,Doctor,Version 1.0
2,3,5/26/2023 22:25,9/7/2023 3:48,Facebook,4,No complaints.,Yes,Prefer not to say,24,India,Doctor,Version 3.0
3,4,5/25/2023 9:56,9/7/2023 12:55,Instagram,2,No complaints.,Yes,Non-Binary,26,Australia,Student,Version 1.0
4,5,6/3/2023 6:51,9/7/2023 3:01,Facebook,5,Wish it had more features.,Yes,Prefer not to say,24,Canada,Student,Version 2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,8/28/2023 10:48,9/17/2023 19:09,Instagram,4,Seems a bit overpriced.,Yes,Female,18,Canada,Teacher,Version 2.5
996,997,5/6/2023 1:29,9/19/2023 9:47,Twitter,5,Wish it had more features.,Yes,Female,30,Australia,Engineer,Version 2.0
997,998,7/22/2023 17:23,9/17/2023 20:38,Facebook,5,Challenging to use.,Maybe,Non-Binary,19,USA,Student,Version 2.5
998,999,5/12/2023 1:34,9/19/2023 6:43,Twitter,4,No complaints.,Maybe,Female,41,India,Engineer,Version 2.0
999,1000,5/31/2023 5:32,9/2/2023 10:55,Facebook,5,Seems a bit overpriced.,Maybe,Male,24,UK,Student,Version 2.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ResponseID         1000 non-null   int64
 1   StartDate          1000 non-null   object
 2   EndDate            1000 non-null   object
 3   Platform           1000 non-null   object
 4   Rating             1000 non-null   int64
 5   Feedback           1000 non-null   object
 6   PurchaseIntention  1000 non-null   object
 7   Gender             1000 non-null   object
 8   Age                1000 non-null   int64
 9   Country            1000 non-null   object
 10  Occupation         1000 non-null   object
 11  ProductVersion     1000 non-null   object
dtypes: int64(3), object(9)
memory usage: 93.9+ KB

In [12]:
bins = [18, 24, 34, 44, 54, np.inf]
labels = ['18-24', '25-34', '35-44', '45-54', '55+']
df['Age Group'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)
df

,ResponseID,StartDate,EndDate,Platform,Rating,Feedback,PurchaseIntention,Gender,Age,Country,Occupation,ProductVersion,Age Group
0,1,5/19/2023 21:57,9/4/2023 5:02,Instagram,2,Seems a bit overpriced.,Maybe,Male,48,India,Teacher,Version 2.0,45-54
1,2,7/1/2023 20:51,9/14/2023 19:12,LinkedIn,5,No complaints.,No,Prefer not to say,67,UK,Doctor,Version 1.0,55+
2,3,5/26/2023 22:25,9/7/2023 3:48,Facebook,4,No complaints.,Yes,Prefer not to say,24,India,Doctor,Version 3.0,25-34
3,4,5/25/2023 9:56,9/7/2023 12:55,Instagram,2,No complaints.,Yes,Non-Binary,26,Australia,Student,Version 1.0,25-34
4,5,6/3/2023 6:51,9/7/2023 3:01,Facebook,5,Wish it had more features.,Yes,Prefer not to say,24,Canada,Student,Version 2.0,25-34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,8/28/2023 10:48,9/17/2023 19:09,Instagram,4,Seems a bit overpriced.,Yes,Female,18,Canada,Teacher,Version 2.5,18-24
996,997,5/6/2023 1:29,9/19/2023 9:47,Twitter,5,Wish it had more features.,Yes,Female,30,Australia,Engineer,Version 2.0,25-34
997,998,7/22/2023 17:23,9/17/2023 20:38,Facebook,5,Challenging to use.,Maybe,Non-Binary,19,USA,Student,Version 2.5,18-24
998,999,5/12/2023 1:34,9/19/2023 6:43,Twitter,4,No complaints.,Maybe,Female,41,India,Engineer,Version 2.0,35-44
999,1000,5/31/2023 5:32,9/2/2023 10:55,Facebook,5,Seems a bit overpriced.,Maybe,Male,24,UK,Student,Version 2.0,25-34

In [13]:
df['Start_Date'] = pd.to_datetime(df['StartDate']).dt.date
df['Start_Time'] = pd.to_datetime(df['StartDate']).dt.time
df['End_Date'] = pd.to_datetime(df['EndDate']).dt.date
df['End_Time'] = pd.to_datetime(df['EndDate']).dt.time
df

,ResponseID,StartDate,EndDate,Platform,Rating,Feedback,PurchaseIntention,Gender,Age,Country,Occupation,ProductVersion,Age Group,Start_Date,Start_Time,End_Date,End_Time
0,1,5/19/2023 21:57,9/4/2023 5:02,Instagram,2,Seems a bit overpriced.,Maybe,Male,48,India,Teacher,Version 2.0,45-54,2023-05-19,21:57:00,2023-09-04,05:02:00
1,2,7/1/2023 20:51,9/14/2023 19:12,LinkedIn,5,No complaints.,No,Prefer not to say,67,UK,Doctor,Version 1.0,55+,2023-07-01,20:51:00,2023-09-14,19:12:00
2,3,5/26/2023 22:25,9/7/2023 3:48,Facebook,4,No complaints.,Yes,Prefer not to say,24,India,Doctor,Version 3.0,25-34,2023-05-26,22:25:00,2023-09-07,03:48:00
3,4,5/25/2023 9:56,9/7/2023 12:55,Instagram,2,No complaints.,Yes,Non-Binary,26,Australia,Student,Version 1.0,25-34,2023-05-25,09:56:00,2023-09-07,12:55:00
4,5,6/3/2023 6:51,9/7/2023 3:01,Facebook,5,Wish it had more features.,Yes,Prefer not to say,24,Canada,Student,Version 2.0,25-34,2023-06-03,06:51:00,2023-09-07,03:01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,8/28/2023 10:48,9/17/2023 19:09,Instagram,4,Seems a bit overpriced.,Yes,Female,18,Canada,Teacher,Version 2.5,18-24,2023-08-28,10:48:00,2023-09-17,19:09:00
996,997,5/6/2023 1:29,9/19/2023 9:47,Twitter,5,Wish it had more features.,Yes,Female,30,Australia,Engineer,Version 2.0,25-34,2023-05-06,01:29:00,2023-09-19,09:47:00
997,998,7/22/2023 17:23,9/17/2023 20:38,Facebook,5,Challenging to use.,Maybe,Non-Binary,19,USA,Student,Version 2.5,18-24,2023-07-22,17:23:00,2023-09-17,20:38:00
998,999,5/12/2023 1:34,9/19/2023 6:43,Twitter,4,No complaints.,Maybe,Female,41,India,Engineer,Version 2.0,35-44,2023-05-12,01:34:00,2023-09-19,06:43:00
999,1000,5/31/2023 5:32,9/2/2023 10:55,Facebook,5,Seems a bit overpriced.,Maybe,Male,24,UK,Student,Version 2.0,25-34,2023-05-31,05:32:00,2023-09-02,10:55:00

In [14]:
# Define the columns for each data type
int_columns = ["ResponseID", "Rating", "Age"]
date_columns = ["Start_Date", "End_Date"]
category_columns = ["Platform", "PurchaseIntention", "Gender", "Country", "Occupation", "ProductVersion", "Age Group"]
str_columns = ["Feedback"]

# Convert data types
for column in int_columns:
    df[column] = df[column].astype(int)
for column in date_columns:
    df[column] = pd.to_datetime(df[column]).dt.date
for column in category_columns:
    df[column] = df[column].astype("category")
for column in str_columns:
    df[column] = df[column].astype(str)

print(df.dtypes)

ResponseID              int32
StartDate              object
EndDate                object
Platform             category
Rating                  int32
Feedback               object
PurchaseIntention    category
Gender               category
Age                     int32
Country              category
Occupation           category
ProductVersion       category
Age Group            category
Start_Date             object
Start_Time             object
End_Date               object
End_Time               object
dtype: object

In [15]:
df.drop(['StartDate','EndDate'],axis=1,inplace=True)
df

,ResponseID,Platform,Rating,Feedback,PurchaseIntention,Gender,Age,Country,Occupation,ProductVersion,Age Group,Start_Date,Start_Time,End_Date,End_Time
0,1,Instagram,2,Seems a bit overpriced.,Maybe,Male,48,India,Teacher,Version 2.0,45-54,2023-05-19,21:57:00,2023-09-04,05:02:00
1,2,LinkedIn,5,No complaints.,No,Prefer not to say,67,UK,Doctor,Version 1.0,55+,2023-07-01,20:51:00,2023-09-14,19:12:00
2,3,Facebook,4,No complaints.,Yes,Prefer not to say,24,India,Doctor,Version 3.0,25-34,2023-05-26,22:25:00,2023-09-07,03:48:00
3,4,Instagram,2,No complaints.,Yes,Non-Binary,26,Australia,Student,Version 1.0,25-34,2023-05-25,09:56:00,2023-09-07,12:55:00
4,5,Facebook,5,Wish it had more features.,Yes,Prefer not to say,24,Canada,Student,Version 2.0,25-34,2023-06-03,06:51:00,2023-09-07,03:01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Instagram,4,Seems a bit overpriced.,Yes,Female,18,Canada,Teacher,Version 2.5,18-24,2023-08-28,10:48:00,2023-09-17,19:09:00
996,997,Twitter,5,Wish it had more features.,Yes,Female,30,Australia,Engineer,Version 2.0,25-34,2023-05-06,01:29:00,2023-09-19,09:47:00
997,998,Facebook,5,Challenging to use.,Maybe,Non-Binary,19,USA,Student,Version 2.5,18-24,2023-07-22,17:23:00,2023-09-17,20:38:00
998,999,Twitter,4,No complaints.,Maybe,Female,41,India,Engineer,Version 2.0,35-44,2023-05-12,01:34:00,2023-09-19,06:43:00
999,1000,Facebook,5,Seems a bit overpriced.,Maybe,Male,24,UK,Student,Version 2.0,25-34,2023-05-31,05:32:00,2023-09-02,10:55:00

In [16]:
df.to_excel('extended_techglow_qualtrics_data_transformed.xlsx',index=False)